html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Ecommerce 
  link(rel="stylesheet", href="estilos.css")
  link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous")
body
h1 Ingresa tus datos para acceder a la pagina

div 
form(action="/login",method="POST", )
  label(for="email" autocomplete="off") Ingresa tu email
  input#email(type="text", name="username")
  label(for="password" autocomplete="off") Ingresa tu password
  input#password(type="text", name="password")
  br    
  button(type="submit") Submit 

div
  button(onclick= "volver()") Registrar

script(src="script.js") 


