html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Ecommerce 
		link(rel="stylesheet", href="estilos.css")
	body
	
	h2 Ingresa tus datos
		
	form(action="/login",method="POST")
	
		label(for="email") Ingresa tu email
		input#email(type="email", name="email")
		label(for="password") Ingresa tu password
		input#password(type="text", name="password")

           
		button(type="submit" value="login") Submit

