
.container.py-5
    .row
    .col-lg-3
        h1.h2.pb-4 Categories
        li.pb-3
            select#cbxCategory.form-select(aria-label='Default select example')
            option(value='0') Seleccione Categoria
            option(value='Electronica') Electronica
            option(value='Jugueteria') Jugueteria
            option(value='Marroquineria') Marroquineria
            option(value='Mascotas') Mascotas
    .col-lg-9
        .row
        .col-md-4
            .card.mb-4.product-wap.rounded-0
            .card.rounded-0
                img.card-img.rounded-0.img-fluid(src='https://loremflickr.com/640/480')
                .card-img-overlay.rounded-0.product-overlay.d-flex.align-items-center.justify-content-center
                ul.list-unstyled
                    li
                    a.btn.btn-success.text-white.mt-2.btnAddProduct(data-productoid='63683e398c4d0848af2f82f7')
                        i.fas.fa-cart-plus
                    li
                    a.btn.btn-success.text-white.mt-2.btnDetailProduct(href='/product/63683e398c4d0848af2f82f7', data-productoid='63683e398c4d0848af2f82f7')
                        i.fas.fa-info-circle
            .card-body
                a.h3.text-decoration-none(href='shop-single.html') Pizza
                p.text-center.mb-0 $135
        .col-md-4
            .card.mb-4.product-wap.rounded-0
            .card.rounded-0
                img.card-img.rounded-0.img-fluid(src='https://loremflickr.com/640/480')
                .card-img-overlay.rounded-0.product-overlay.d-flex.align-items-center.justify-content-center
                ul.list-unstyled
                    li
                    a.btn.btn-success.text-white.mt-2.btnAddProduct(data-productoid='636840f038c7a884d7950b09')
                        i.fas.fa-cart-plus
                    li
                    a.btn.btn-success.text-white.mt-2.btnDetailProduct(href='/product/636840f038c7a884d7950b09', data-productoid='636840f038c7a884d7950b09')
                        i.fas.fa-info-circle
            .card-body
                a.h3.text-decoration-none(href='shop-single.html') Bicicleta
                p.text-center.mb-0 $130
        .col-md-4
            .card.mb-4.product-wap.rounded-0
            .card.rounded-0
                img.card-img.rounded-0.img-fluid(src='https://loremflickr.com/640/480')
                .card-img-overlay.rounded-0.product-overlay.d-flex.align-items-center.justify-content-center
                ul.list-unstyled
                    li
                    a.btn.btn-success.text-white.mt-2.btnAddProduct(data-productoid='6368410773e0c8a7f5126568')
                        i.fas.fa-cart-plus
                    li
                    a.btn.btn-success.text-white.mt-2.btnDetailProduct(href='/product/6368410773e0c8a7f5126568', data-productoid='6368410773e0c8a7f5126568')
                        i.fas.fa-info-circle
            .card-body
                a.h3.text-decoration-none(href='shop-single.html') Coche
                p.text-center.mb-0 $179
        .col-md-4
            .card.mb-4.product-wap.rounded-0
            .card.rounded-0
                img.card-img.rounded-0.img-fluid(src='https://loremflickr.com/640/480')
                .card-img-overlay.rounded-0.product-overlay.d-flex.align-items-center.justify-content-center
                ul.list-unstyled
                    li
                    a.btn.btn-success.text-white.mt-2.btnAddProduct(data-productoid='6368743b218a3a70e53bc915')
                        i.fas.fa-cart-plus
                    li
                    a.btn.btn-success.text-white.mt-2.btnDetailProduct(href='/product/6368743b218a3a70e53bc915', data-productoid='6368743b218a3a70e53bc915')
                        i.fas.fa-info-circle
            .card-body
                a.h3.text-decoration-none(href='shop-single.html') Teclado
                p.text-center.mb-0 $106
        .col-md-4
            .card.mb-4.product-wap.rounded-0
            .card.rounded-0
                img.card-img.rounded-0.img-fluid(src='https://loremflickr.com/640/480')
                .card-img-overlay.rounded-0.product-overlay.d-flex.align-items-center.justify-content-center
                ul.list-unstyled
                    li
                    a.btn.btn-success.text-white.mt-2.btnAddProduct(data-productoid='6372731f29e93cc603e508bc')
                        i.fas.fa-cart-plus
                    li
                    a.btn.btn-success.text-white.mt-2.btnDetailProduct(href='/product/6372731f29e93cc603e508bc', data-productoid='6372731f29e93cc603e508bc')
                        i.fas.fa-info-circle
            .card-body
                a.h3.text-decoration-none(href='shop-single.html') Mouse
                p.text-center.mb-0 $106